.keyboard {
  font-weight: 100;
  min-height: 400px;
  .key1 {
    border-radius: 3px;
    border: 1px solid;
    transform: translateX(-0.8rem);
    display: inline-block;
  }
  .key2 {
    border-radius: 3px;
    border: 1px solid;
    display: inline-block;
  }
  .key3 {
    border-radius: 3px;
    border: 1px solid;
    transform: translateX(0.8rem);
    display: inline-block;
  }
  .key4 {
    position: relative;
    border-radius: 3px;
    border: 1px solid;
    display: inline-block;
    line-height: 2.2;
    letter-spacing: 0.2em;
    font-weight: 100;
    animation: back 4s ease-in-out infinite;
  }
  .keyS {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    font-weight: 600;
    animation: space 4s ease-in-out infinite;
  }
  .keyG {
    font-weight: 600;
  }
}

@keyframes back {
  0%,
  100% {
    background-color: #333;
  }
  50% {
    background-color: #ccc;
  }
}
@keyframes space {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
.board {
  position: relative;
  display: inline-block;
  padding: 4px 6px;
  margin: 10px 6px 8px 6px;
  line-height: 1.2;
  background: linear-gradient(
      90deg,
      rgba(208, 147, 82, 0.6),
      rgba(192, 134, 70, 0.6) 60%,
      rgba(208, 147, 82, 0.6)
    ),
    repeating-radial-gradient(
      ellipse at 20% 30%,
      #a05626,
      #c08646 0.2%,
      #d09352 0.6%,
      #d09352 1%
    );
  &:hover {
    cursor: default;
  }
}
.underline {
  position: relative;
}
.underline::after {
  content: "";
  position: absolute;
  left: 10%;
  right: 10%;
  bottom: 3px; // 文字に対する下線の位置を調整
  height: 1px; // 下線の太さ
  background-color: black; // 下線の色
}

.sushiMenu {
  position: relative;
  overflow: hidden;
}

.snowText {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  color: black;
}
.snowflake {
  position: absolute;
  background: white;
  border-radius: 50%;
  z-index: 1000;
}
