body{margin:0;}
table {
    table-layout: fixed;
    width:100%;
    background-color:#FFFFFF;
    text-align:center;
    color: #000000;
    font-size:14pt;
    font-weight: bold;
    border-collapse: collapse;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    border-bottom:0px solid #000000;
}
table td {
    border: 1px solid  #000000; /* 表内側の線：1px,実線,緑色 */
    border-left:2px solid #000000;
    border-right:2px solid  #000000;
    padding: 1px;            /* セル内側の余白：3ピクセル */
}
.box1 img{

    position:absolute;
    width:auto;
    height:auto;
    max-width:100%;
    max-height:95%;
}
.box1 {
}
#box2 img{
    filter:alpha(opacity=60); /* IE 6,7*/
    position: absolute;
    width:100%;
    opacity:0.8;
    zoom:1;
    display:inline-block;
}
#box3 img{
    position:absolute;
    width:100%;
}
#box4 img{
    position:absolute;
    bottom:0%;
    width:100%;
}
body{background-color:#111111;}
.myB{color:#000000;background-color:#FFFFFF;}
