html,
body {
  padding: 0;
  margin: 0;
  font-family: "M PLUS Rounded 1c", "Noto Sans JP", sans-serif;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  /* Chrome, Safari, Opera */
  -moz-osx-font-smoothing: grayscale;
  /* Firefox */
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: "New amsterdam";
  src: url('fonts/NewAmsterdam-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Archivo Black';
  src: url('fonts/ArchivoBlack-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Yomogi';
  src: url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap') format('truetype');
}

h4 {
  font-size: 18px !important;
  font-weight: 400 !important;
}

* {
  box-sizing: border-box;
}

.chakra-ui-light {
  background: #F0E6DB;
}

.chakra-ui-dark {
  background: #000000;
}

/* BBSのリプライの表示アニメーション */
@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* BBSのリプライ先をシェイクして知らせる */
@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(5px);
  }

  75% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake 0.5s ease;
  /* アニメーションの持続時間とイージングを設定 */
}