.headerNav {
  width: 100%;
  height: 56px;
  position: fixed;
  z-index: 1;
  font-size: 18px;
  font-weight: 600;
}
.myLight {
  color: #000;
  background: #ffffff40;
  backdrop-filter: blur(10px);
  border-color: #000;
}
.myDark {
  color: #fff;
  background: #00000020;
  backdrop-filter: blur(10px);
  border-color: #fff;
  fill: pink;
}
.logo {
  margin-right: -10px;
  padding: 10px;
  width: 62px;
  height: 62px;
  transform: rotate(-30deg);
  transition: 0.5s;
  background: none !important;
}
.logoAndText {
  text-decoration: none !important;

  &:hover .logo {
    transform: rotate(30deg);
  }
}
.logoText {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 700;
  text-decoration: none !important;
  margin-right: 16px;
}
.githubIcon {
  font-size: 28px;
  width: 28px;
  height: 28px;
}
.contain {
  background: #ffffff10;
  backdrop-filter: blur(10px);
  margin-top: 2em;
  margin-bottom: 20px;
  padding: 16px;
}
.title {
  font-family: "Yusei Magic", sans-serif;
  font-size: 30px;
  padding: 6px 0px 2px 0px;
}

.publishedAt {
  margin: 2px 0px 40px 0;
}

.post {
  & > h1 {
    font-size: 30px;
    font-weight: bold;
    margin: 40px 0 20px;
    background-color: #eee;
    padding: 10px 20px;
    border-radius: 5px;
  }

  & > h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 40px 0 16px;
    border-bottom: 1px solid #ddd;
  }

  h4 {
    border-bottom: #888 2px solid;
    margin: 16px 0 8px 0;
  }

  & > p {
    line-height: 1.8;
    letter-spacing: 0.2px;
    margin-bottom: 1.2em;
  }

  a {
    text-decoration: underline !important;
    text-underline-offset: 0.25em;
    background-color: none !important;
  }
  a:after {
    content: " ";
    display: inline-block;
    background-image: url("../public/images/external_link.svg");
    background-size: contain;
    vertical-align: middle;
    width: 18px;
    background-color: yellow;
    height: 18px;
    margin-left: 4px;
    transform: translateY(-2px);
  }

  & > ol {
    list-style-type: decimal;
    list-style-position: inside;
  }
  code {
    background-color: #1c1b19;
    color: #f0e6db;
  }
}
.blogList {
  height: 80px;
  transition: 0.5s;
  margin: 10px 0px;
  border: 1px #888 solid;
  border-radius: 10px;
  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-color: #ff1111;
    .eyecatch {
      animation: eyecatch_icon 0.5s linear forwards;
      @keyframes eyecatch_icon {
        0% {
          opacity: 0.2;
          transform: translateX(0px);
        }
        10% {
          transform: translateX(-40px);
        }
        100% {
          opacity: 1;
          transform: translateX(0px);
        }
      }
    }
  }

  .blogTitle {
    overflow: hidden;
    white-space: nowrap;

    text-overflow: ellipsis !important;
  }
  .eyecatch {
    border-radius: 0 8px 8px 0;
    height: 78px;
    width: 100px !important;
    transition: 1s;
  }
  animation: up 0.3s linear forwards;
  @keyframes up {
    0% {
      transform: translateY(50px);
      opacity: 0.1;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }
}

span.tags {
  margin: 5px 5px;
  padding: 0px 8px 0px 0px;
  border-radius: 16px 0 0 16px;
  border: 1px solid lightgray;
  &:hover {
    cursor: pointer;
  }
}
